nav
	div(class="nav-wrapper")
		form(id='tableSearchForm')
			div(class="input-field left")
				input(id="tableSearchBox", type="search", name="Table", autocomplete="off", onkeyup="getTableSuggestions();", required)
				label(for="search")
					i(class="material-icons") search
				div(id="table-search-suggesstion-box")
		a(href="#!", class="brand-logo center") SlateIT (logo)
		ul(id='nav-mobile' class='right hide-on-med-and-down')
			ul(id='ddFavorites' class='dropdown-content')
			li(class='dropdown-button', href='#!', data-beloworigin='true', data-constrainwidth='false', data-activates='ddFavorites')
				i(class='right material-icons') star_border
			ul(id='ddQuickLinks' class='dropdown-content')
			li(class='dropdown-button', href='#!', data-beloworigin='true', data-constrainwidth='false', data-activates='ddQuickLinks')
				i(class='right material-icons') flash_on
			ul(id='ddAdmin' class='dropdown-content')
			li(class='dropdown-button', href='#!', data-beloworigin='true', data-constrainwidth='false', data-activates='ddAdmin') Admin
				i(class='right material-icons') verified_user
			ul(id='ddSystem' class='dropdown-content')
			li(class='dropdown-button', href='#!', data-beloworigin='true', data-constrainwidth='false', data-activates='ddSystem') Username
				i(class='material-icons right') settings
	script(src='./javascripts/user.js')
	script(src='./javascripts/tableview.js')
	script(type='text/javascript') getUser();
