doctype html
html
  include ./includes/head.jade
  body
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='./javascripts/materialize.js')
    script(src='./javascripts/main.js')
    block content