doctype html
html
  include ./includes/head.jade
  body
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='./javascripts/materialize.js')
    script(src='./javascripts/main.js')
    block content