extends home.jade

block pageContent
	table(id='maintable')
		th(id='tablehead')
			td(id='th1') column1
			td(id='th2') column2
			td(id='th3') column3
		tr(id='row1')
			td(id='row1item1') row1
			td(id='row1item2') item2
			td(id='row1item3') item3
		tr(id='row2')
			td(id='row2item1') row2
			td(id='row2item2') item2
			td(id='row2item3') item3
